Repository piglei/ai-vocabulary-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache
      - id: mypy
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "poetry run mypy ./voc_builder --config-file=./pyproject.toml"
        files: '^voc_builder/'

update README
  README.md
Due: none

refactor code
  CONTRIBUTING.md
  Dockerfile
Due: none

feat: support docker-compose
  README.md
  docker-compose.yml
Due: none

docs: update README
  README.md
  docs/README_zh.md
Due: none

feat: add pytest-asyncio dependency and improve AI prompts for clarity
  Makefile
  noxfile.py
  tests/builder/test_ai_svc.py
  voc_builder/builder/ai_svc.py
  voc_builder/learn/ai_svc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

feat: bump to 1.3.1
  pyproject.toml
  voc_builder/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

refactor: use prek & upgrade pyproject.toml
  noxfile.py
  poetry.lock
  pyproject.toml
  voc_frontend/src/components/LearnNav.vue
Due: ruff-check-fix, ruff-format, ruff-check

feat: add export anki API
  AGENTS.md
  CLAUDE.md
  poetry.lock
  pyproject.toml
  tests/api/conftest.py
  tests/api/test_export.py
  tests/infras/test_store.py
  voc_builder/common/errors.py
  voc_builder/infras/store.py
  voc_builder/learn/serializers.py
  voc_builder/learn/views.py
  voc_builder/misc/export.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

feat: add export anki API(UI)
  voc_builder/learn/views.py
  voc_builder/notepad/server.py
  voc_frontend/src/App.vue
  voc_frontend/src/views/LearnView.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy

fix CI
  .github/workflows/main.yml
Due: none

fix review comments
  voc_builder/learn/views.py
  voc_builder/misc/export.py
  voc_frontend/src/views/LearnView.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy

chore: update models
  voc_builder/system/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

refactor: update AI models
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
  tests/builder/test_ai_svc.py
  voc_builder/builder/ai_svc.py
  voc_builder/infras/ai.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

bump to 1.4.0
  pyproject.toml
  voc_builder/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

update noxfile to add 3.14
  noxfile.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: CI fail under windows
  voc_builder/misc/export.py
  voc_builder/system/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

bump to 1.4.1
  pyproject.toml
  voc_builder/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

fix docker build error
  Dockerfile
Due: none

feat: allow custom model name input with 3 recommended options per provider
  voc_builder/system/constants.py
  voc_frontend/src/views/Settings.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy

feat: fetch models in settings
  tests/system/__init__.py
  tests/system/test_options.py
  voc_builder/system/constants.py
  voc_builder/system/serializers.py
  voc_builder/system/services/__init__.py
  voc_builder/system/services/options.py
  voc_builder/system/views.py
  voc_frontend/package-lock.json
  voc_frontend/package.json
  voc_frontend/src/views/Settings.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy

chore: bump to 1.4.2
  pyproject.toml
  voc_builder/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy

fix: pydantic deps version
  poetry.lock
  pyproject.toml
Due: none

chore: bump to 1.4.3
  pyproject.toml
  voc_builder/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy
